node_modules/
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
vagrant/package.box
vagrantTestEnvironment/.vagrant/
.DS_Store
reports/
server-tests
acceptance-tests
load-tests
typings/
tsd.json
